# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.output

# Executables
*.exe
*.out
*.app
bin
extract

# Prerequisites
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

